@font-face {
  font-family: "blank-river.ttf";
  src: url(font/Blank-River.ttf);
}
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
}

/*NAVBAR*/

#nav {
  color: white;
  display: flex;
  justify-content: space-around;
  position: fixed;
  width: 100vw;
  z-index: 1;
}

#menu {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
  font-family: "Roboto";
}
#menu a {
  color: white;
  font-size: 1.3rem;
  text-decoration: none;
}

#btn-mobile {
  display: none;
  align-items: center;
  padding: 0.5rem 1rem;
  font-size: 2rem;
  color: white;
  border: none;
  background: none;
  cursor: pointer;
}
#menu a::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}

#menu a:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

#menu a::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: rgb(1, 96, 10);
  z-index: -1;
  transition: transform 0.3s ease;
  border-radius: 0.2rem;
}

#menu a {
  position: relative;
}

/*INICIO*/
.img-fundo {
  background-image: url(imgs/FundoPrincipal.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bruxo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container h1 {
  color: #b0e25c;
  text-align: center;
  font-size: 95px;
  position: absolute;
  margin-top: 250px;
  font-family: "blank-river.ttf";
  animation: tracking-in-contract-bck-top 3s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}

#dragon {
  width: 500px;
  height: 500px;
  margin-top: 120px;
  animation: rotate 10s linear infinite;
  filter: brightness(70%);
  cursor: none;
}
#bruxo {
  position: absolute;
  width: 300px;
  height: 300px;
  margin-top: 430px;
  filter: brightness(140%);
}
#bruxo:hover {
  animation: vibrate-3 0.5s linear infinite both;
  cursor: not-allowed;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
}
@keyframes rotate {
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes apagar {
  0% {
    filter: brightness(110%);
  }
  25% {
    filter: brightness(90%);
  }
  50% {
    filter: brightness(50%);
  }
  100% {
    filter: brightness(25%);
  }
}

/*MERCADO*/

.title {
  color: #b0e25c;
  margin: 4rem;
  font-family: "blank-river.ttf";
  font-size: 4rem;
}

.mercado {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(imgs/fundo4.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 1100px;
  height: 100vh;
  gap: 5rem;
}

.card {
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 18rem;
}

.title-card {
  background-color: #b0e25c;
  color: rgb(0, 0, 0);
  height: 5rem;
  font-family: "blank-river.ttf";
  font-size: 1.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0 0;
}

.description-card {
  height: 14rem;
  background-color: #444444;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  border-radius: 0 0 5px 5px;
}

/*Feedback*/
.feedback {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-image: url(imgs/dinheiro.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.galery {
  width: 740px;
  height: 390px;
  background-color: black;
  overflow: hidden;
}

.galery .fotos {
  width: 500%;
  animation-name: animacao;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

.galery .fotos img {
  width: 19.9%;
}

@keyframes animacao {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  95% {
    margin-left: -300%;
  }
  100% {
    margin-left: -400%;
  }
}

/*SOBRE*/
.sobre {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  height: 100vh;
}
.container-sobre {
  display: flex;
  gap: 10rem;
}

.text-sobre {
  color: #fff;
  width: 500px;
  font-family: "Montserrat", sans-serif;
}

.img-sobre img {
  width: 450px;
}
/*EBOOK*/
.ebook {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.container-ebook {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container-ebook p {
  color: #fff;
  width: 500px;
  font-family: "Montserrat", sans-serif;
}
.ebook button {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  background-color: #32c332;
}

.ebook button a {
  text-decoration: none;
  color: #000;
  font-family: "Montserrat", sans-serif;
  padding: 15px;
  font-size: 1rem;
}
.ebook-title {
  font-size: 4rem;
  font-family: "blank-river.ttf";
  color: #b0e25c;
}

.ebook button:hover {
  animation: shake-vertical 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

/*CONTATO*/
.contato {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.container-title {
  font-family: "blank-river.ttf";
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 5rem;
}

.container-title h1 {
  color: #b0e25c;
  font-size: 3rem;
}

.container-title h2 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;

  color: #fff;
}

.container-button {
  margin-top: 3rem;
  margin-bottom: 1rem;
}

.container-button button {
  color: #fff;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
}

button a {
  text-decoration: none;
  color: #fff;
  padding: 1rem;
}

.instagram {
  background: #f09433;
  background: -moz-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: -webkit-linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  text-decoration: none;
}

.whatsapp {
  background-color: #32c332;
  text-decoration: none;
}

.telegram {
  background-color: #259bd8;

  text-decoration: none;
}
.telegram a {
  font-size: 1.1rem;
}

#bruxoContato:hover {
  animation: vibrate-3 0.5s linear infinite both;
  cursor: not-allowed;
}

.instagram:hover {
  animation: shake-vertical 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.whatsapp:hover {
  animation: shake-vertical 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
.telegram:hover {
  animation: shake-vertical 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}
@keyframes vibrate-3 {
  0% {
    transform: translate(0);
  }
  10% {
    transform: translate(-2px, -2px);
  }
  20% {
    transform: translate(2px, -2px);
  }
  30% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(2px, 2px);
  }
  50% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, -2px);
  }
  70% {
    transform: translate(-2px, 2px);
  }
  80% {
    transform: translate(-2px, -2px);
  }
  90% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
@keyframes shake-vertical {
  0%,
  100% {
    transform: translateY(0);
  }
  10%,
  30%,
  50%,
  70% {
    transform: translateY(-8px);
  }
  20%,
  40%,
  60% {
    transform: translateY(8px);
  }
  80% {
    transform: translateY(6.4px);
  }
  90% {
    transform: translateY(-6.4px);
  }
}

@keyframes tracking-in-contract-bck-top {
  0% {
    letter-spacing: 1em;
    transform: translateZ(400px) translateY(-300px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    transform: translateZ(0) translateY(0);
    opacity: 1;
  }
}

.logo {
  width: 7rem;
}

span {
  color: #b0e25c;
  font-family: "blank-river.ttf";
  font-size: 2.5rem;
}

@media (max-width: 1440px) {
  #menu a {
    font-size: 0.8rem;
  }
  .logo {
    width: 4rem;
  }
  #dragon {
    width: 30rem;
    height: 30rem;
    margin-top: 70px;
  }
  #bruxo {
    width: 17rem;
    height: 17rem;
    margin-top: 23.2rem;
  }
  .container h1 {
    margin-top: 170px;
  }
  .container-card {
    height: 110vh;
  }
  .title {
    margin: 2rem;
  }
}
@media (max-width: 1024px) {
  .text-sobre {
    font-size: 0.7rem;
    width: 21rem;
  }
  .container-ebook {
    margin: 2rem 0;
  }
  .container-ebook p {
    font-size: 0.7rem;
    width: 21rem;
  }
  .container-ebook img {
    width: 21rem;
  }
  .img-sobre img {
    width: 330px;
  }
  .container-sobre {
    gap: 5rem;
  }
  .container-card {
    gap: 2rem;
  }
  .contato img {
    width: 21rem;
  }
}
@media (max-width: 768px) {
  #btn-mobile {
    display: flex;
    margin: 0;
    padding: 0;
    z-index: 1001;
  }
  #menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    right: 0;
    background: #000000;
    z-index: 1000;
    height: 0px;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
  }
  #menu a {
    border-bottom: 2px solid #fff;
  }
  #nav.active #menu {
    height: 100vh;
    visibility: visible;
  }
  #menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    margin: 1rem 1rem;
    border-bottom: #000000;
  }
  #menu li a {
    color: white;
  }
  #nav {
    display: flex;
    justify-content: space-around;
  }

  #dragon {
    width: 25rem;
    height: 25rem;
    margin-top: 5rem;
  }
  #bruxo {
    width: 17rem;
    height: 17rem;
    margin-top: 23rem;
  }
  button {
    border: none;
  }
  .container h1 {
    font-size: 4rem;
    margin-top: 12rem;
  }

  .container-card {
    gap: 0.5rem;
    width: 748px;
  }

  .title-card {
    font-size: 1rem;
  }

  .description-card {
    font-size: 0.9rem;
  }

  .card {
    width: 13rem;
  }

  .sobre {
    height: 130vh;
  }
  .container-sobre {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
  .text-sobre {
    width: 80%;
    font-size: 0.8rem;
  }

  .container-ebook p {
    width: 19rem;
    font-size: 0.65rem;
  }
  .compra {
    margin-bottom: 2rem;
  }
  .container-title h2 {
    font-size: 1.5rem;
  }
}
/*@media (max-width: 428px) {
  .img-fundo {
    background-image: url(imgs/midiaquery/home-mobile.png);
    background-size: cover;
  }
  .mercado {
    background-image: url(imgs/midiaquery/mercado-mobile.png);
    background-size: cover;
  }
  .feedback {
    background-image: url(imgs/midiaquery/feedback-mobile.png);
    background-size: cover;
  }
  #dragon {
    width: 25rem;
    height: 25rem;
    margin-top: 17rem;
  }
  #bruxo {
    width: 17rem;
    height: 17rem;
    margin-top: 31rem;
  }
  .container h1 {
    font-size: 4rem;
    margin-top: 23rem;
  }

  .container-card {
    gap: 0.5rem;
    width: 100vw;
  }

  .title-card {
    font-size: 0.6rem;
  }

  .description-card {
    font-size: 0.7rem;
  }

  .card {
    width: 8.3rem;
  }

  .sobre {
    height: 130vh;
  }
  .container-sobre {
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
  .text-sobre {
    font-size: 0.8rem;
  }
  .galery {
    width: 460px;
    height: 220px;
    margin-top: 7rem;
  }
  .text-sobre {
    width: 360px;
    text-align: center;
    font-size: 0.8rem;
  }

  .container-title h1 {
    margin-top: 10rem;
  }

  .container-title h2 {
    font-size: 1.5rem;
  }
  .contato {
    height: 90vh;
  }
  .container-button {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
  }
  .container-button button {
    width: 10rem;
    height: 4rem;
    font-size: 1.5rem;
  }
  #bruxoContato {
    width: 14rem;
    height: 14rem;
    margin-top: 1rem;
  }

  .container-title {
    margin: 0;
  }
  .ebook {
    height: 160vh;
  }
  .ebook button {
    margin-top: 4rem;
  }

  .ebook-title {
    margin-top: 7rem;
    font-size: 3rem;
  }
  .container-ebook {
    flex-direction: column-reverse;
  }
  .container-ebook img {
    width: 300px;
    margin: 2rem;
  }
  .container-ebook p {
    width: 23rem;
  }
}

@media (max-width: 414px) {
  #dragon {
    width: 25rem;
    height: 25rem;
    margin-top: 5rem;
  }
  #bruxo {
    width: 17rem;
    height: 17rem;
    margin-top: 22rem;
  }
  .container h1 {
    font-size: 4rem;
    margin-top: 13rem;
  }
  .container-card {
    height: 140vh;
  }
  .card {
    width: 10.3rem;
  }
  .title-card {
    font-size: 0.7rem;
  }
  .description-card {
    font-size: 0.8rem;
  }
  .galery {
    width: 400px;
  }
}

@media (max-width: 390px) {
  .container-ebook p {
    width: 23rem;
  }
  .ebook {
    height: 170vh;
  }
  .text-sobre {
    width: 340px;
  }
  .sobre {
    height: 120vh;
  }
}

@media (max-width: 375px) {
  #dragon {
    width: 20rem;
    height: 20rem;
    margin-top: 5rem;
  }
  #bruxo {
    width: 14rem;
    height: 14rem;
    margin-top: 19rem;
  }
  .container h1 {
    font-size: 3rem;
    margin-top: 11rem;
  }
  .title {
    font-size: 3rem;
  }
  .container-card {
    height: 130vh;
  }
  .galery {
    height: 220px;
  }
  .text-sobre {
    width: 340px;
  }
  .sobre {
    height: 120vh;
  }
  .container-button button {
    width: 10rem;
    height: 4rem;
    font-size: 1.5rem;
  }
}

@media (max-width: 360px) {
  .sobre {
    height: 130vh;
  }
  .container-ebook p {
    width: 20rem;
  }
  .ebook {
    height: 250vh;
  }
}

@media (max-width: 320px) {
  #dragon {
    width: 15rem;
    height: 15rem;
    margin-top: 3rem;
  }
  .container h1 {
    font-size: 3rem;
    margin-top: 7rem;
  }
  #bruxo {
    width: 10rem;
    height: 10rem;
    margin-top: 13.8rem;
  }
  .title {
    font-size: 2rem;
  }
  .card {
    width: 8.3rem;
  }
  .title-card {
    font-size: 0.65rem;
  }
  .description-card {
    font-size: 0.7rem;
  }
  .mercado {
    height: 200vh;
  }
  .galery {
    width: 320px;
    height: 178px;
  }
  .text-sobre {
    width: 300px;
  }
  .sobre {
    height: 170vh;
  }
  .container-button button {
    width: 9rem;
    height: 3rem;
    font-size: 1.3rem;
  }
}
*/

@media screen and (max-width: 428px) {
  .img-fundo {
    display: flex;
    justify-content: center;
  }

  #dragon {
    width: 20rem;
    height: 20rem;
    margin-top: 9rem;
  }
  #bruxo {
    width: 15rem;
    height: 15rem;
    margin-top: 23rem;
  }
  .container h1 {
    margin-top: 15rem;
  }
  .img-fundo {
    height: 94vh;
  }
  .container-card {
    gap: 0.5rem;
    width: 100%;
  }
  .card {
    width: 27%;
  }
  .title-card {
    font-size: 0.5rem;
  }
  .description-card {
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    height: 9rem;
  }
  .description-card p {
    width: 90%;
  }
  .galery {
    width: 100%;
    height: 179px;
  }
  .ebook {
    margin-top: 17rem;
  }
  .ebook-title {
    font-size: 3rem;
  }
  .container-ebook {
    flex-direction: column-reverse;
  }
  .container-ebook p {
    width: 80%;
  }
  .container-ebook img {
    width: 80%;
  }
  .contato {
    margin-top: 15rem;
  }
  .container-button {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .contato img {
    width: 13rem;
  }
}
@media screen and (max-width: 360px) {
  .description-card {
    align-items: center;
    justify-content: center;
    font-size: 0.5rem;
    height: 12rem;
  }
}
@media screen and (max-width: 320px) {
  #dragon {
    width: 15rem;
    height: 15rem;
    margin-top: 1rem;
  }
  #bruxo {
    width: 10rem;
    height: 10rem;
    margin-top: 11rem;
  }
  .container h1 {
    font-size: 3rem;
    margin-top: 4rem;
  }
  .title-card {
    font-size: 0.4rem;
  }
  .galery {
    height: 179px;
  }
  .ebook {
    margin-top: 28rem;
  }
}
